name: Mi acci贸n

on:
  workflow_dispatch:
    inputs:
      option:
        description: 'Selecciona una opci贸n'
        required: true
        default: 'true'
        type: choice
        options:
          - 'true'
          - 'false'
      name:
        description: 'Ingresa un nombre si option es true'
        required: false
        if: github.event.inputs.option == 'true'

jobs:
  mi_job:
    runs-on: ubuntu-latest
    steps:
      - name: Verificar opci贸n
        if: ${{ github.event.inputs.option == 'true' }}
        run: echo "La opci贸n es true"
      - name: Mostrar nombre
        if: ${{ github.event.inputs.option == 'true' && github.event.inputs.name }}
        run: echo "El nombre ingresado es ${{ github.event.inputs.name }}"
